# Configurações do Bot do Discord
DISCORD_BOT_TOKEN=

API_PORT=3000

# A URL do seu serviço interno de IA
AI_SERVICE_URL=
AI_SERVICE_API_KEY=

DATABASE_URL=
DIRECT_URL=
BACKEND_API_URL=http://localhost:3001

# Houston Bot Integration
INTERNAL_API_KEY=
INTERNAL_BOT_API_URL=http://localhost:3000
